NODE_ENV=
SERVER_PORT=
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_DATABASE=
PG_PORT=

REDIS_HOST=
REDIS_PORT=6379
# REDIS_PASSWORD=
REDIS_SESSION_PREFIX=
SESSION_SECRET=
SESSION_NAME=
SESSION_MAX_AGE= # '1d', '1h', '7 days'

# nodemailer
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASSWORD=

# Google
GOOGLE_CLIENT_ID='google-client-id'
GOOGLE_CLIENT_SECRET='google-client-secret'
GOOGLE_CALLBACK_URL='http://localhost:3000/auth/google/callback'